 .list-group-item-custom{
            padding-left:0px;
            padding-right:0px;
            padding-bottom:10px;    
            border-color:#2C3E50;
            border-bottom-width:1px;
            border-left-width:0px;  
            border-right-width:0px;      
        }
        .list-group-item-heading{
            display:inline;
        }
        .none-padding{
            padding-left:0px;
            padding-right:0px;
            padding-top:3px;
        }
         .none-padding3{
            padding-left:0px;
            padding-right:0px;
            padding-top:7px;
        }
        .btn{
            padding-right: 18px;
            padding-left: 18px;
        }
        .class{
            font-size:12px;
        }
        .none-padding9{
            padding-right:0px;
            padding-top:7px;
        }
        .list-group-top{
            border-top-width:0px;
            border-color:#2C3E50;
            border-bottom-width:1px;
            border-left-width:0px;
            border-right-width:0px;            
        }
        .btn-3498DB{
            background-color:#3498DB;
            color:white;
        }
        #option1.active,#option1:hover,#option1:focus{
            color:limegreen;
        }
       #option2.active,#option2:hover,#option2:focus{
            color:#D9534F;
        }
       #option3.active,#option3:hover,#option3:focus{
            color:#F0AD4E;
        }
       #tips.glyphicon-ok{
           color:limegreen;
       }
       #tips.glyphicon-remove{
           color:#D9534F;
       }
       #tips.glyphicon-user{
           color:#F0AD4E;
       }