body {
}

.list-group-34495E{
    background-color:#34495E;
    border-color:#2C3E50;
    border-bottom-width:2px;
    border-left-width:0px;
    border-right-width:0px;
}
.fontwhite{
    color:white !important;
}
.p-6285a8{
    color:#6285a8;
}
.list-group-1ABC9C
{
    background-color:#1ABC9C;
        border-color:#2C3E50;
    border-bottom-width:2px;
    border-left-width:0px;
    border-top-width:0px;
    border-right-width:0px;
}
         .none-padding3{
            padding-left:0px;
            padding-right:0px;
            padding-top:7px;
        }